.pingdom-table {
    width: 100%;
    font-weight: bold;
}
.pingdom-table tr {
    background-color: transparent;
    border-bottom: 1px #CCCCCC solid;
}
.pingdom-check-img {
    float: right;
    height: 36px;
}